
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(57, 56, 56, 0.153);
    color: #ffffff;
    width: 100%;
    padding: 60px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  

  .animate__animated animate__backInLeft{
    --animate-duration: 10s;
  }

  .animate__animated animate__backInRight{

  }
  .animate__animated animate__slideInDown{
    --animate-duration: 10s;
  } 
  .paragraph{
    font-family: "Seven Segment", sans-serif
  }
  #img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* adjust the z-index as needed */
  }
 
  #timer {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other content */
}